server.profile=<%= @server_profile %>
url.user.permission=<%= @url_user_permission %>

#debit options
debit.batch.size=500
debit.scheduler.threadpool.size=4
s3.endpoint.url=<%= @s3_endpoint_url %>
s3.data.bucket=<%= @s3_data_bucket %>
s3.accesskeyid=<%= @s3_accesskeyid %>
s3.secretkey=<%= @s3_secretkey %>
